@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>


@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        StateHasChanged();
        OnAfterRenderAsync(false);
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        for (double i = 0; i < 1000000; i++)
        {
            currentCount++;
            StateHasChanged();
        }
        StateHasChanged();
    }
    

}
