@* @page "/IATeste"

@rendermode InteractiveServer

<h3>Teste IA Local</h3>
<InputFile OnChange="HandleFile" />
<input @bind="pergunta" style="width:600px" />
<button @onclick="PerguntaGeral">Pergunta Geral</button>
<button @onclick="PerguntaProduto">Pergunta produto</button>
<button @onclick="PerguntaPedido">Pergunta Pedido</button>

<p><strong>Resposta:</strong></p>
<p>@resposta</p>
 *@